<launch>
  <!-- Launch settings. To be passed into launch file. -->
  <arg name="use_dynamics" default="1" />
  <arg name="ignore_collisions" default="false" />
  <arg name="render_stereo" default="0" />

  <arg name="ip" default="127.0.01" />
  <arg name="port" default="25001" />

  <group ns="/uav">

    <!-- Use clock scaling -->
    <param name="/use_sim_time" value="true" />
   
    <!-- Environment Creator -->
    <!-- flightgoggles_uav_dynamics simulator -->
    <!--Will not be run if playing back previous flight from rosbag-->
    <node name="flightgoggles_uav_dynamics" pkg="flightgoggles_uav_dynamics" type="node"
          if="$(arg use_dynamics)" output="screen">
      <param name="ignore_collisions" type="bool" value="$(arg ignore_collisions)" />
      <param name="angular_process_noise" type="double" value="0.0" />
      <param name="linear_process_noise" type="double" value="0.0" />
      <param name="clockscale" type="double" value="1"/>
    </node>

    <!-- Run RVIZ for visualization
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find flightgoggles)/rviz/third_person_drone_follower.rviz" unless="$(arg render_stereo)"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find flightgoggles)/rviz/third_person_drone_follower_stereo.rviz" if="$(arg render_stereo)"/> -->

    <!--Static transform for ENU to NED world-->
    <node pkg="tf2_ros" type="static_transform_publisher"
          name="world_ned_link" args="0 0 0 1.57079632679 3.14159265359 0 'world' 'world/ned'"/>
  </group>

  <include file="$(find simulator_com)/launch/connect.launch">
    <arg name="ip" value="$(arg ip)"/>
    <arg name="port" value="$(arg port)"/>
  </include>
</launch>
