<?xml version="1.0"?>
<launch>

  <arg name="ignore_collisions" default="false" />
  <arg name="render_stereo" default="0" />

  <include file="$(find flightcontroller)/launch/angle.launch"/>
  <include file="$(find flightcontroller)/launch/velocity.launch"/>


  <!--include core flightgoggles launch file-->
  <include file="$(find flightgoggles)/launch/core.launch">
    <arg name="render_stereo" value="$(arg render_stereo)"/>
    <arg name="ignore_collisions" value="$(arg ignore_collisions)"/>
  </include>

  <node pkg="rqt_plot" type="rqt_plot" name="x_euler_plot" args="uav/sensors/velocity/x /uav/input/velocity/x">
  </node>
  <node pkg="rqt_plot" type="rqt_plot" name="y_euler_plot" args="/uav/sensors/velocity/y /uav/input/velocity/y">
  </node>
  <node pkg="rqt_plot" type="rqt_plot" name="z_euler_plot" args="/uav/sensors/velocity/z /uav/input/velocity/z">
  </node>

</launch>