<?xml version="1.0"?>
<launch>

  <arg name="ignore_collisions" default="false" />
  <arg name="render_stereo" default="0" />

  <include file="$(find flightcontroller)/launch/velocity_control.launch"/>

  <!--include core flightgoggles launch file-->
  <include file="$(find flightgoggles)/launch/teleopExample.launch">
    <arg name="render_stereo" value="$(arg render_stereo)"/>
    <arg name="ignore_collisions" value="$(arg ignore_collisions)"/>
  </include>

  <!--For teleoperation, run dynamics in real time-->
  <param name="/use_sim_time" value="false" />

</launch>