<?xml version="1.0"?>
<launch>

  <arg name="ignore_collisions" default="false" />
  <arg name="render_stereo" default="0" />

  <include file="$(find flightcontroller)/launch/angle.launch"/>
  <include file="$(find flightcontroller)/launch/velocity.launch"/>
  <include file="$(find flightcontroller)/launch/position.launch"/>

  <!--include core flightgoggles launch file-->
  <include file="$(find flightgoggles)/launch/core.launch">
    <arg name="render_stereo" value="$(arg render_stereo)"/>
    <arg name="ignore_collisions" value="$(arg ignore_collisions)"/>
  </include>


  <node pkg="flightcontroller" type="navigation.py" name="goal_tester_node" output="screen">
  </node>

  <node pkg="flightcontroller" type="performance_analyzer.py" name="performance_tester_node" output="screen">
  </node>

</launch>