<?xml version="1.0"?>
<launch>

  <arg name="speed" default="10" />
  <arg name="save_name" default="position_log.txt"/>
  <arg name="save_location" default="/home/autosoftlab/Desktop/RobotTestGeneration"/>

  <node pkg="flightcontroller" type="position_controller.py" name="position_controller_node" output="screen">
    <param name="gains/p" type="double" value="1" />
    <param name="gains/i" type="double" value="0" />
    <param name="gains/d" type="double" value="0" />
    <param name="speed" type="double" value="$(arg speed)" />
    <param name="save_location" type="string" value="$(arg save_location)" />
    <param name="save_name" type="string" value="$(arg save_name)" />
  </node>

</launch>