<?xml version="1.0"?>
<launch>

  <include file="$(find flightcontroller)/launch/angle_control.launch"/>

  <node pkg="flightcontroller" type="velocity_calculator.py" name="velocity_calculator_node" output="screen">
  </node>

  <node pkg="flightcontroller" type="velocity_controller.py" name="velocity_controller_node" output="screen">
    <param name="gains/p_x" type="double" value="0.01" />
    <param name="gains/i_x" type="double" value="0.0" />
    <param name="gains/d_x" type="double" value="0.0" />
    <param name="gains/p_y" type="double" value="0.01" />
    <param name="gains/i_y" type="double" value="0.0" />
    <param name="gains/d_y" type="double" value="0.0" />
    <param name="gains/p_z" type="double" value="0.01" />
    <param name="gains/i_z" type="double" value="0.0" />
    <param name="gains/d_z" type="double" value="0.0" />
  </node>

</launch>